<DOCTYPE HTML>
<html >
<head>


						<!--
　　 へ　　　　　／|
　　/＼7　　∠＿/
　 /　│　　 ／　／
　│　Z ＿,＜　／　　 /`ヽ
　│　　　　　ヽ　　 /　　〉
　 Y　　　　　`　 /　　/
　?●　?　●　　??〈　　/
　()　 へ　　　　|　＼〈
　　>? ?_　 ィ　 │ ／／
　 / へ　　 /　?＜| ＼＼
　 ヽ_?　　(_／　 │／／
　　7　　　　　　　|／
　　＞―r￣￣`?―＿
皮卡丘,对偷看者使用十万伏特
						-->
<link href="{{static_url('css/header.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{static_url('css/first.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="car"><img id="car_img" src="{{static_url('images/5.jpg')}}">
<p class="car_p1" align="center">学习没有捷径</p>
<p class="car_p2">每天的努力 只为拥抱美好的明天</p>
<h1><span></span>个人博客</h1>
<p class="car_p3">Keep on going never give up</p>
<p class="car_p4">Believe in yourself</p>
<p class="car_p5"><img width=50px src="images/row.png"/></p>
<img id="car_weixin" src="images/weixin_2.png"/>
</div>
<div class="dim"></div>
<header class="header" id="header">
<div class="hide">
<input type="text" Size=100 placeholder="输入搜索内容..."/><hr/>
<p class="hide_p">回车也没用不会这个</p>
<img class="xxx" src="images/x.png"/>
</div>
<div class="show">
<span style="position:absolute;left:-150px;top:-10px;font-size:26px;font-weight:bold;font-family:'方正舒体'">Blog</span>
<span><a href="index.html">主页</a></span>
<span><a href="html/note.html">笔记</a></span>
<span><a href="html/case.html">特效案例</a></span>
<span><a href="html/software.html">软件分享</a></span>
<span><a href="html/reform.html">后期更改</a></span>
<span><a href="html/study.html">个人学习</a></span>

<div class="show2">
<span class="show_1"><img src="images/show.png"/></span>
<span><a href="http://baike.baidu.com/link?url=PT3YBu363oA8DSzPYPBqaZHaShaNBRsB3HKiMINNTdPqFj8lvSoebaAzkEZfOijnK4lWYc3FgA-58P2B8r1cH_" target="_blank"><img src="images/cat.png"/></a></span>
<span><a href="http://wpa.qq.com/msgrd?v=3&uin=956328059&site=qq&menu=yes" target="_blank"><img src="images/qq.png"/></a></span>
<span><img id="weixin" src="{{static_url('images/weixin.png')}}"/></span>
<span><img src="{{static_url('images/weibo.png')}}" onclick="weibo()" value=null/></span>
<span><img src="images/xin.png" onclick="foreach()"/></span>
</div>
</div>
</header>

<div class="gray">

<div class="Case_show">
<p class="Case_show_p1">Case show</p>
<p class="Case_show_p2">特效案例</p>
<div class="case">
<div class="danmu">
<a href="case/cube/cube.html" target="_blank"><img src="/static/images/cube.png" height=220px width=330px /></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="case/cube/cube.html" target="_blank
" style="text-decoration:none;color:#4876FF;font-weight:bold;">&#9756 &nbsp 3d立体 &nbsp &#9758</a></p>
</div>

<div class="canvas">
<a href="html/paomo.html" target="_blank"><img src="images/paomo.png"  height=220px width=330px/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="html/paomo.html" target="_blank
" style="text-decoration:none;color:#4876FF;font-weight:bold;">&#9756斑斓泡沫&#9758</a></p>
</div>

<div class="heart">
<a href="html/firework.html" target="_blank"><img src="images/firework.png"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="html/firework.html" target="_blank
" style="text-decoration:none;color:#4876FF;font-weight:bold;">&#9756烟花易冷&#9758</a></p>
</div>
</div>
</div>


<div class="Games">
<p class="Games_p1">Games</p>
<p class="Games_p2">js游戏</p>
<div class="case">
<div class="fruit">
<a href="case/fruit/index.html" target="_blank"><img src="images/fruit.png"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="case/fruit/index.html" target="_blank
" style="text-decoration:none;color:#ff4e50;font-weight:bold;">&#9756水果忍者&#9758</a></p>
</div>
<div class="fruit2">
<a href="case/plane/index.html" target="_blank"><img src="images/plane.jpg"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="case/plane/index.html" target="_blank
" style="text-decoration:none;color:#ff4e50;font-weight:bold;">&#9756经典飞机&#9758</a></p>
</div>
<div class="fruit3">
<a href="case/box/index.html" target="_blank"><img src="images/box.png"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="case/box/index.html" target="_blank
" style="text-decoration:none;color:#ff4e50;font-weight:bold;">&#9756推箱子&#9758</a></p>
</div>
</div>
</div>

<div class="Study">
<p class="Study_p1">Study</p>
<p class="Study_p2">学习</p>
<div class="case">
<div class="Android">
<a href="https://ke.qq.com/course/197151" target="_blank"><img src="images/muke.jpg"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="https://ke.qq.com/course/197151" target="_blank
" style="text-decoration:none;color:#00CD00;font-weight:bold;">&#9756 &nbsp&nbsp&nbsp JS &nbsp&nbsp&nbsp&nbsp&#9758</a></p>
</div>
<div class="js">
<a href="http://www.imooc.com/learn/96" target="_blank"><img src="images/android.png"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="http://www.imooc.com/learn/96" target="_blank
" style="text-decoration:none;color:#00CD00;font-weight:bold;">&#9756 &nbsp&nbsp&nbsp Android &nbsp&nbsp&nbsp&nbsp&#9758</a></p>
</div>
<div class="java">
<a href="https://ke.qq.com/course/147646" target="_blank"><img src="images/Java1.png"  height=220px width=330px style="-webkit-filter: hue-rotate(1800deg);"/></a><p style="font-size:19px; position:relative;top:20px;text-align:center;"><a href="https://ke.qq.com/course/147646" target="_blank
" style="text-decoration:none;color:#00CD00;font-weight:bold;">&#9756 &nbsp&nbsp&nbsp Java &nbsp&nbsp&nbsp&nbsp&#9758</a></p>
</div>
</div>
</div>

</div>
<footer>
<div class="foot">
<br/>
<br/>
<br/><br/>
<br/>

<p class="foot_p">Copyright &nbsp 2017-2018 &nbsp   All &nbsp Rights &nbsp Reserved.豫ICP备<a class="footer_a" href="http://www.miitbeian.gov.cn/">17021583</a>号-1</p>
<div>
</footer>



</body>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script src="js/first.js"></script>
<script>
$(".footer_a").hover(function(){$(".footer_a").css({color:"red"})},function(){$(".footer_a").css({color:"white"})});
</script>

</html>